@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import 'tailwindcss';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

*{
  /* outline:1px solid red; */
}

@layer base {
  body {
    background-color: var(--color-neutral-900);
    font-family: var(--font-sora);
    color: var(--color-neutral-400);
    padding: 1rem;
    /* min-height: 100dvh; */
  }
}
/* variables */

@theme {
  /* colors */
  --color-neutral-900: #121212;
  --color-neutral-800: #262626;
  --color-neutral-700: #3A3A3A;
  --color-neutral-500: #717178;
  --color-neutral-400: #949497;
  --color-neutral-0: #ffffff;
  --color-blue-600: #177dff;
  --color-blue-400: #4ca6ff;
  --color-red-500: #d64d5b;
  --color-yellow-400: #f4dc73;
  --color-green-500: #4dd67b;

  /* typography */

  --font-sora: 'Sora', sans-serif;

  /* Text Preset 1 */
  --text-preset-1: 40px;
  --leading-preset-1: 1.36;
  --tracking-preset-1: 0.4px;

  /* Text Preset 1 Mobile */
  --text-preset-1-mobile: 24px;
  --leading-preset-1-mobile: 1.2;
  --tracking-preset-1-mobile: 0.32px;

  /* Text Preset 1 Regular */
  --text-preset-1-regular: 40px;
  --leading-preset-1-regular: 1.36;
  --tracking-preset-1-regular: 0.4px;

  /* Text Preset 1 Regular Mobile */
  --text-preset-1-regular-mobile: 32px;
  --leading-preset-1-regular-mobile: 1.36;
  --tracking-preset-1-regular-mobile: 0.4px;

  /* Text Preset 2 */
  --text-preset-2: 24px;
  --leading-preset-2: 1;
  --tracking-preset-2: 0px;

  /* Text Preset 3 */
  --text-preset-3: 20px;
  --leading-preset-3: 1.2;
  --tracking-preset-3: -0.6px;

  /* Text Preset 3 Mobile */
  --text-preset-3-mobile: 16px;
  --leading-preset-3-mobile: 1.2;
  --tracking-preset-3-mobile: -0.48px;

  /* Text Preset 3 SemiBold */
  --text-preset-3-semibold: 20px;
  --leading-preset-3-semibold: 1.2;
  --tracking-preset-3-semibold: -0.3px;

  /* Text Preset 4 */
  --text-preset-4: 18px;
  --leading-preset-4: 1.2;
  --tracking-preset-4: -0.6px;

  /* Text Preset 5 */
  --text-preset-5: 16px;
  --leading-preset-5: 1.2;
  --tracking-preset-5: -0.48px;

  /* Text Preset 6 */
  --text-preset-6: 12px;
  --leading-preset-6: 1.2;
  --tracking-preset-6: 0px;

  /* Font weights */
  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;
  --font-weight-regular: 400;
}

/* Text Preset Classes */

.text-preset-1 {
  @apply font-bold;

  font-size: var(--text-preset-1);
  line-height: var(--leading-preset-1);
  letter-spacing: var(--tracking-preset-1);
}

.text-preset-1-mobile {
  @apply font-bold;

  font-size: var(--text-preset-1-mobile);
  line-height: var(--leading-preset-1-mobile);
  letter-spacing: var(--tracking-preset-1-mobile);
}

.text-preset-1-regular {
  @apply font-normal;

  font-size: var(--text-preset-1-regular);
  line-height: var(--leading-preset-1-regular);
  letter-spacing: var(--tracking-preset-1-regular);
}

.text-preset-1-regular-mobile {
  @apply font-normal;

  font-size: var(--text-preset-1-regular-mobile);
  line-height: var(--leading-preset-1-regular-mobile);
  letter-spacing: var(--tracking-preset-1-regular-mobile);
}

.text-preset-2 {
  @apply font-bold;

  font-size: var(--text-preset-2);
  line-height: var(--leading-preset-2);
  letter-spacing: var(--tracking-preset-2);
}

.text-preset-3 {
  @apply font-normal;

  font-size: var(--text-preset-3);
  line-height: var(--leading-preset-3);
  letter-spacing: var(--tracking-preset-3);
}

.text-preset-3-mobile {
  @apply font-normal;

  font-size: var(--text-preset-3-mobile);
  line-height: var(--leading-preset-3-mobile);
  letter-spacing: var(--tracking-preset-3-mobile);
}

.text-preset-3-semibold {
  font-weight: var(--font-weight-semi-bold);

  font-size: var(--text-preset-3-semibold);
  line-height: var(--leading-preset-3-semibold);
  letter-spacing: var(--tracking-preset-3-semibold);
}

.text-preset-4 {
  @apply font-normal;

  font-size: var(--text-preset-4);
  line-height: var(--leading-preset-4);
  letter-spacing: var(--tracking-preset-4);
}

.text-preset-5 {
  @apply font-normal;

  font-size: var(--text-preset-5);
  line-height: var(--leading-preset-5);
  letter-spacing: var(--tracking-preset-5);
}

.text-preset-6 {
  @apply font-normal;

  font-size: var(--text-preset-6);
  line-height: var(--leading-preset-6);
  letter-spacing: var(--tracking-preset-6);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    /* @apply border-border outline-ring/50; */
  }
  body {
    /* @apply bg-background text-foreground; */
  }
}
